button {
    width: 100%;
    height: 100%;
    font-size: 5em !important;
}

div{
    width: 100%;
    height: 100%;
}

.horizontal-line{
    width: 120pt;
    height: 50pt;

    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-color: #790909;

    position: fixed;
    
    visibility: hidden;

    margin-left: -10pt;
}

.vertical-line{
    width: 50pt;
    height: 120pt;
    border-right: 5px solid #790909;
    position: fixed;
    
    visibility: hidden;

    margin-top: -10pt;
}


.left-diag-line{
    margin: -30pt 0pt -40pt 45pt;

    width: 0pt;
    height: 155pt;
    border-right: 5pt solid #790909;
    position: fixed;

    transform: rotate(-45deg);

    visibility: hidden;
}

.right-diag-line{
    margin: -30pt 0pt -40pt 45pt;

    width: 0pt;
    height: 155pt;
    border-right: 5pt solid #790909;
    position: fixed;

    transform: rotate(45deg);

    visibility: hidden;
}