<div [@animateSquare] = "animationState">
    
    <div class="horizontal-line" [@animateLine] = "showHorizontalLine"></div>
    <div class="vertical-line" [@animateLine] = "showVerticalLine"></div>
    <div class="left-diag-line" [@animateLine] = "showLeftDiagLine"></div>
    <div class="right-diag-line" [@animateLine] = "showRightDiagLine"></div>

    <button nbButton *ngIf="!value">{{value}}</button>
    <button nbButton hero status = "success" *ngIf="value == 'X'">{{value}}</button>
    <button nbButton hero status = "info" *ngIf="value == 'O'">{{value}}</button>
</div>