.header-banner {
    width: 100%;
    text-align: center;
    border: 0 none;
    border-radius: 0%;
}


app-board {
    text-align: center;
    z-index: 1;
}

#fireWorksContainer{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: transparent;
}
