<div id="fireWorksContainer"></div>

<nb-layout center>

  <nb-layout-header fixed>
    <h1 *ngIf = "winner == null" [@moveHorizontal]="state" (@moveHorizontal.done)="move()" class="header-banner">Welcome to X-O</h1>
    <h1 *ngIf = "winner != null" [@showWinningBanner]="winner" class="header-banner">
      Player {{winner}} wins !
    </h1>
  </nb-layout-header>

  <nb-layout-column>
    <nb-layout>
        <nb-layout-column>
            
            <app-board (eventEmitter) = 'displayWinnerInBanner($event)'></app-board>
            <router-outlet></router-outlet>
    
        </nb-layout-column>
    </nb-layout>
    
    
  </nb-layout-column>

</nb-layout>
