
<button nbButton outline status="danger" (click)="newGame()">Start a New Game</button>

<h3>Current player: {{player}}</h3>

<div class="modal" id="winnerModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div>
            </div>
        </div>
      </div>
    </div>
</div>

<main>
    <app-square
    *ngFor = "let val of squareArray; let i = index"
    [value] = "val"
    [index] = "i"
    [winningLine]="getEffectiveWinningLine()"
    (click) = "makeMove(i)">

    </app-square>
</main>