main {
    display: grid;
    grid-template-columns: repeat(3, 100pt);
    grid-template-rows: repeat(3, 100pt);
    grid-gap: 0px;
     
    justify-content: center;
    margin: 10pt;
}

app-square {
    border: 2px gray solid;
}

h3{
    margin: 10pt;
}

button {
    margin: 10pt;
    width: 100%;
}

#winnerModal .modal-content{
    background-color: transparent;
}

#winnerModal {
    border: 0 none;
    border-radius: 0%;
    margin: 0% 0% 0% 0%;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
}