@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@import "~bootstrap/dist/css/bootstrap.css";

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

body {
  overflow: hidden;
}